# Create time series of nuclear capacity installments and retirements

Because the map we're creating requires the use of a time slider that goes through a span of years, we need to create a data file that has the nuclear capacity for every year.

### Import libaries

I'm going to be using pandas to read in the Excel spreadsheets as dataframes and then analyze the dataframes. I'm also going to lightly use numpy for some light work.

In [1]:
import pandas as pd
import numpy as np

### Change working directory of notebook

Currently, the working directory is the same as where the notebook is located, so I'm going to change the working directory to the main folder instead.

In [2]:
%cd ..

/Users/MEAS/GitHub/nuclear-map

## EIA 860 data

I've already included all the needed data in the **"data"** folder, but you can go out and download the data for yourself at the [EIA 860 website](https://www.eia.gov/electricity/data/eia860/) if you would like. After you unzip the downloaded file, you can explore the various Excel files included in the dataset. The ones relevant to this analysis are the ``3_1_Generator_Y2018.xlsx`` and ``2___Plant_Y2018.xlsx`` files. The ``LayoutY2018.xlsx`` is helpful for understanding what different acronyms and codes in the dataset mean.

### Currently operating nuclear generators

The first sheet in the ``3_1_Generator_Y2018.xlsx`` file, named ``Operable``, includes all currently operating (in the year 2018) electricity generators in the US. This includes generators that are **planned for retirement** after 2018 as well. The spreadsheet includes a lot of information on each generator, but the columns that are relevant for this map are:
 * Plant Code:
 * Plant Name:
 * Generator ID: 
 * Technology: 
 * Capacity: 
 * Operating Month: 
 * Operating Year: 
 * Retirement Month: 
 * Retirement Year:

In [3]:
# read in spreadsheet of currently operating generators
eia_op = pd.read_excel('data/3_1_Generator_Y2018.xlsx', 
                          sheet_name = 'Operable', 
                          skiprows = 1, 
                          skipfooter = 1,
                          usecols = [2,3,6,7,15,25,26,27,28],
                          names = ["plant_code", "plant_name", 
                                   "gen_id", "technology", 
                                   "capacity", "op_month", 
                                   "op_year", "ret_month", 
                                   "ret_year"])

Filter to keep the generators that are labeled as having "Nuclear" as the technology.

In [4]:
# only keep nuclear plants
eia_op = eia_op[eia_op.technology == 'Nuclear']

In [5]:
eia_op.head()

,plant_code,plant_name,gen_id,technology,capacity,op_month,op_year,ret_month,ret_year
81,46,Browns Ferry,1,Nuclear,1152.0,8,1974,,
82,46,Browns Ferry,2,Nuclear,1152.0,3,1975,,
83,46,Browns Ferry,3,Nuclear,1190.0,3,1977,,
388,204,Clinton Power Station,1,Nuclear,1138.3,11,1987,,
389,210,Wolf Creek Generating Station,1,Nuclear,1267.7,9,1985,,

This isn't reflected in the 2018 dataset, but in the summer of 2019, the state of Ohio passed a piece of legislation that allowed their nuclear plants to remain open. Thus, the Davis Besse nuclear power plant will not have to retire after all, despite being listed as planned for retirement in the EIA dataset. I'm just going to change the plant's retirement month and year to blanks.

In [6]:
eia_op[eia_op.plant_name == "Davis Besse"]

,plant_code,plant_name,gen_id,technology,capacity,op_month,op_year,ret_month,ret_year
6728,6149,Davis Besse,1,Nuclear,925.2,11,1977,5,2020

In [7]:
eia_op.loc[eia_op.plant_name == "Davis Besse", "ret_month"] = " "
eia_op.loc[eia_op.plant_name == "Davis Besse", "ret_year"] = " "

### Nuclear power plants planned for installation

The second sheet in the ``3_1_Generator_Y2018.xlsx`` data file, named ``Proposed``, is a dataset of generators that are expected to be installed in the future (after 2018). I'm going to follow a similiar procedure as before to read in the data, but this time I'm not reading in any retirement month or year columns (since power plants not already installed don't have planned retirements). I'm also going to be reading in a column titled "Status", which will be further explained below.

In [8]:
eia_add = pd.read_excel('data/3_1_Generator_Y2018.xlsx', 
                            sheet_name = 'Proposed', 
                            skiprows = 1, 
                            skipfooter = 1,
                            usecols = [2,3,6,7,15,19,22,23],
                            names = ["plant_code", "plant_name", 
                                     "gen_id", "technology", 
                                     "capacity", "status", 
                                     "op_month", "op_year"])

In [9]:
# only keep nuclear plants
eia_add = eia_add[eia_add.technology == 'Nuclear']

The reason why I read in the **Status** column is because the EIA dataset uses a number of code conventions as the statuses of each generator. In the ``LayoutY2018.xlsx`` file, in the ``Reference Tables 4-6`` sheet, there's a table titled "Table 6. Proposed Generator Status Codes and Descriptions". The different codes used to describe proposed generators are:

| Proposed Generator Status Code	| Proposed Generator Status Code Descriptions | 
| :-------------------------------: | ------------------------------------------- |
| CN	| Cancelled (previously reported as “planned”) | 
| IP	| Planned new indefinitely postponed, or no longer in resource plan | 
| TS	| Construction complete, but not yet in commercial operation (including low power testing of nuclear units) | 
| P	| Planned for installation but regulatory approvals not initiated; Not under construction | 
| L	| Regulatory approvals pending. Not under construction but site preparation could be underway | 
| T	| Regulatory approvals received. Not under construction but site preparation could be underway | 
| U	| Under construction, less than or equal to 50 percent complete (based on construction time to date of operation) | 
| V	| Under construction, more than 50 percent complete (based on construction time to date of operation) | 
| OT	| Other (specify in SCHEDULE 7) | 

I don't want any cancelled generators that have been previously reported as planned (ones with the "CN" status) or indefinitely postponed generators (ones with the "IP" status). I also won't keep ones with an "OT" status. Thus, I'll only keep generators with certain status codes:

In [10]:
eia_add = eia_add[eia_add.status.isin(["TS", "P", "L", "T", "U", "V"])]

In [11]:
eia_add

,plant_code,plant_name,gen_id,technology,capacity,status,op_month,op_year
24,649,Vogtle,3,Nuclear,1100.0,U,11,2021
25,649,Vogtle,4,Nuclear,1100.0,U,11,2022
484,61075,UAMPS Carbon Free Power Plant,NPM1,Nuclear,50.0,P,5,2026
485,61075,UAMPS Carbon Free Power Plant,NPM10,Nuclear,50.0,P,2,2027
486,61075,UAMPS Carbon Free Power Plant,NPM11,Nuclear,50.0,P,3,2027
487,61075,UAMPS Carbon Free Power Plant,NPM12,Nuclear,50.0,P,4,2027
488,61075,UAMPS Carbon Free Power Plant,NPM2,Nuclear,50.0,P,6,2026
489,61075,UAMPS Carbon Free Power Plant,NPM3,Nuclear,50.0,P,7,2026
490,61075,UAMPS Carbon Free Power Plant,NPM4,Nuclear,50.0,P,9,2026
491,61075,UAMPS Carbon Free Power Plant,NPM5,Nuclear,50.0,P,9,2026
492,61075,UAMPS Carbon Free Power Plant,NPM6,Nuclear,50.0,P,10,2026
493,61075,UAMPS Carbon Free Power Plant,NPM7,Nuclear,50.0,P,11,2026
494,61075,UAMPS Carbon Free Power Plant,NPM8,Nuclear,50.0,P,12,2026
495,61075,UAMPS Carbon Free Power Plant,NPM9,Nuclear,50.0,P,1,2027

### Already retired nuclear generators

The third sheet in the ``3_1_Generator_Y2018.xlsx`` data file, named ``Retired and Canceled``, includes all retired generators. Same as before, I'm using pandas to read in the Excel file:

In [12]:
eia_ret = pd.read_excel('data/3_1_Generator_Y2018.xlsx', 
                          sheet_name = 'Retired and Canceled', 
                          skiprows = 1, 
                          skipfooter = 1,
                          usecols = [2,3,6,7,15,23,25,26,27,28],
                          names = ["plant_code", "plant_name", 
                                   "gen_id", "technology", 
                                   "capacity", "status", 
                                   "op_month", "op_year", 
                                   "ret_month", "ret_year"])

In [13]:
# only keep nuclear plants
eia_ret = eia_ret[eia_ret.technology == 'Nuclear']

Again, the EIA uses various status codes for each generator. In this case, I'm only interested in generators labeled as "RE" (or retired" status.

In [14]:
eia_ret = eia_ret[eia_ret.status.isin(["RE"])]

In [15]:
eia_ret

,plant_code,plant_name,gen_id,technology,capacity,status,op_month,op_year,ret_month,ret_year
165,360,San Onofre Nuclear Generating Station,2,Nuclear,1127,RE,8,1983,6,2013
166,360,San Onofre Nuclear Generating Station,3,Nuclear,1127,RE,4,1984,6,2013
307,628,Crystal River,3,Nuclear,890.4,RE,3,1977,2,2013
1322,2289,Fort Calhoun,1,Nuclear,502,RE,9,1973,10,2016
1368,2388,Oyster Creek,1,Nuclear,550,RE,12,1969,9,2018

### Power plant locations

The ``3_1_Generator_Y2018.xlsx`` file that has been used thus far includes information on generators, but it does not provide information the each generator's location. Instead, that infomration is provided at the power plant level, in the ``2___Plant_Y2018.xlsx`` file. So, I'm going to read in that file as a dataframe as well.

I'm going to read in the Plant Code since it is the unique code that I'm going to use to match across dataframes. The longitude and latitude are needed to map the power plants, so I'll be reading those in as well. And finally, even though the city and state where the plant is located won't be needed for mapping, I'm going to use that information to put on the tooltips of the map.

In [16]:
plants = pd.read_excel('data/2___Plant_Y2018.xlsx', 
                          sheet_name = 'Plant', 
                          skiprows = 1, 
                          skipfooter = 1,
                          usecols = [2,5,6,9,10],
                          names = ["plant_code", "city", "state", "latitude", "longitude"])

## Create dataframe of operating (or soon to be operating) generators

### Use operating generators that are NOT planned for retirement

In [20]:
eia_op_notret = eia_op[eia_op['ret_year'] == " "]

### Combine operating generators (not planned for retirement) with planned additions

I'm doing this because these are the generators that are going to be just be deemed as capacity added during the entire duration of the map's time slider.

In [21]:
df_op = pd.concat([
        eia_op_notret[["plant_code", "plant_name", "gen_id", "capacity", "op_year"]], 
        eia_add[["plant_code", "plant_name", "gen_id", "capacity", "op_year"]] 
        ])

## Create dataframe of retired (or soon to be retired) generators

### Keep operating generators that ARE planned for retirement

In [22]:
eia_op_ret = eia_op[~eia_op.ret_year.isin([" "])]

Combine currently operating generators planned for retirement with already retired generators

In [23]:
df_ret = pd.concat([
            eia_op_ret[["plant_code", "plant_name", "gen_id", "capacity", "op_year", "ret_year"]],
            eia_ret[["plant_code", "plant_name", "gen_id", "capacity", "op_year", "ret_year"]]
            ])

## Create time series of capacity for each nuclear plant

### Get a sense of years needed

In [24]:
min(df_op['op_year'])

1969

In [25]:
max(df_op['op_year'])

2027

### Loop to create time series for currently operating generators and planned installations

In [ ]:
un_op = df_op.plant_code.unique()
l_op = []
for i in list(range(0,len(un_op))):
    dat = df_op[df_op.plant_code == un_op[i]][["plant_code", "plant_name", "capacity", "op_year"]]
    dat = dat.rename(columns={"op_year": "year"})
    dat = dat.groupby(['plant_code', 'plant_name', 'year']).sum().reset_index()
    first = dat.sort_values(by='year').drop_duplicates(subset = 'plant_code')
    df = pd.DataFrame(data = {"year": list(range(1969-1,2028+1)) , 
                              "plant_code" : np.repeat(first['plant_code'], len(range(1969-1,2028+1))),
                              "plant_name" :  np.repeat(first['plant_name'], len(range(1969-1,2028+1)))   } )
    df = pd.merge(df, dat, on = ["year", "plant_code", "plant_name"], how = "left")
    df = df.fillna(0)
    df['op_capacity'] = df['capacity'].cumsum()
    df['net_capacity'] = df['op_capacity']
    df.loc[df.capacity < 0, 'net_capacity'] = df.capacity

    l_op.append(df)
    del df
    del dat
    del first

In [ ]:
seq_op = pd.concat(l_op)

### Loop to create time series for currently operating generators planned for retirement and already retired generators

In [ ]:
un_ret = df_ret.plant_code.unique()
l_ret = []
for i in list(range(0,len(un_ret))):
    dat = df_ret[df_ret.plant_code == un_ret[i]][["plant_code", "plant_name", "capacity", "op_year", "ret_year"]]
    dat = pd.melt(dat, 
                  id_vars = ["plant_code", "plant_name", "capacity"], 
                  value_vars = ["op_year", "ret_year"],
                  var_name = "type", value_name = "year")
    dat = dat.groupby(['plant_code', 'plant_name', 'type', 'year']).sum().reset_index()
    dat.loc[dat.type == "ret_year", "capacity"] = -dat.capacity
    dat = dat[["plant_code", "plant_name", "capacity", "year"]]
    dat = dat.astype({'plant_code': 'int64', 'year' : 'int64'})

    first = dat.sort_values(by='year').drop_duplicates(subset = 'plant_code')
    
    
    df = pd.DataFrame(data = {"year": list(range(1969-1,2028+1)) , 
                              "plant_code" : np.repeat(first['plant_code'], len(range(1969-1,2028+1))),
                              "plant_name" :  np.repeat(first['plant_name'], len(range(1969-1,2028+1)))   } )
    df = pd.merge(df, dat, on = ["year", "plant_code", "plant_name"], how = "left")
    df = df.fillna(0)
    df['op_capacity'] = df['capacity'].cumsum()
    df['net_capacity'] = df['op_capacity']
    df.loc[df.capacity < 0, 'net_capacity'] = df.capacity    
    op = df.loc[df.year < min(df[df.capacity < 0]['year'])]
    ret = df.loc[df.year >= min(df[df.capacity < 0]['year'])][["year", "plant_code", "plant_name", "capacity", "op_capacity"]]
    ret['net_capacity'] = ret['capacity'].cumsum()
    
    df = pd.concat([op, ret])
    l_ret.append(df)
    del df
    del dat
    del first

In [ ]:
seq_ret = pd.concat(l_ret)

In [ ]:
df_all = pd.concat([seq_op, seq_ret])

In [ ]:
df_all.head()

## Merge with power plant location

In [ ]:
df_all = pd.merge(df_all, plants, on = "plant_code")

In [ ]:
df_all.head()

## create ranking for power plants

### get final year only

In [ ]:
df_2028 = df_all[df_all.year == 2028]

In [ ]:
df_2028.shape

## create order of plants based on capacity in final year

This helps with how the circles are overlaid in the map

In [ ]:
df_2028['abs_capacity'] = df_2028['net_capacity'].abs()

In [ ]:
df_2028 = df_2028.sort_values(by = ['abs_capacity'])

In [ ]:
df_2028['order'] = range(1,66)

In [ ]:
df_2028 = df_2028[['plant_code', 'order']]

Merge with full dataframe:

In [ ]:
df_all = pd.merge(df_all, df_2028, on = 'plant_code')

## export to csv

In [ ]:
df_all.to_csv("nuclear_capacity.csv", index = False)